flask==3.1.1
flask-sqlalchemy==3.1.1
flask-login==0.6.3
google-api-python-client==2.178.0
google-auth-oauthlib==1.2.2
google-auth-httplib2==0.2.0
youtube-transcript-api==1.2.2
yt-dlp==2025.8.11
openai==1.99.7
requests==2.32.4
oauthlib==3.3.1
werkzeug==3.1.3
sqlalchemy==2.0.43
psycopg2-binaryguni
corn==21.2.0